<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Unice" name="description">
    <meta content="Unice" name="keywords">
    <meta content="Unice" name="author">
    <title>{{page.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!--bootstrap css-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- color css -->
    <link href="/assets/css/color-9.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/keyframes.css" rel="stylesheet" type="text/css">
    <!--owl carousel css-->
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.default.min.css" rel="stylesheet">
    <!-- Icons -->
    <link href="/assets/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/themify.css" rel="stylesheet" type="text/css">
    <!-- flat Icons -->
    <link href="/assets/css/flaticon.css" rel="stylesheet" type="text/css">
    <!--magnific popup css-->
    <link href="/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/assets/css/site.css" rel="stylesheet">
</head>