<!-- <header class="saas2 loding-header nav-abs custom-scroll">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <a class="d-inline-block m-r-auto" href="sass_layout.html">
                        Take Fancy
                    </a>
                    <div class="responsive-btn">
                        <a class="toggle-nav" href="JavaScript:void(0);">
                            <i aria-hidden="true" class="fa fa-bars text-white"></i>
                        </a>
                    </div>
                    <div class="navbar m-l-auto" id="togglebtn">
                        <div class="responsive-btn">
                            <a class="btn-back" href="#">
                                <h5 class="text-dark">back</h5>
                            </a>
                        </div>
                        <ul class="main-menu">
                            <li><a class="dropdown" href="#">home</a>
                                <ul>
                                    <li><a href="agency_layout.html">agency</a></li>
                                    <li><a href="index.html">app landing 1</a></li>
                                    <li><a href="app_landing_layout.html">app landing 2</a></li>
                                    <li><a href="events_layout.html">event</a></li>
                                    <li><a href="gym_layout.html">gym</a></li>
                                    <li><a href="music_layout.html">music</a></li>
                                    <li><a href="resume_layout.html">resume</a></li>
                                    <li><a href="sass_modern_layout.html">saas1</a></li>
                                    <li><a href="sass_layout.html">saas2</a></li>
                                    <li><a href="wedding_layout.html">wedding</a></li>
                                    <li><a href="yoga_layout.html">yoga</a></li>
                                    <li><a href="ecommerce_layout.html">Ecommerce</a></li>
                                    <li><a href="portfolio-metro.html">portfolio-metro</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown" href="#">blog</a>
                                <ul>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog grid view</a>
                                        <ul>
                                            <li><a href="blog-leftsidebar.html">left sidebar</a></li>
                                            <li><a href="blog-rightsidebar.html">Right sidebar</a></li>
                                            <li><a href="blog-nosidebar.html">No sidebar</a></li>
                                            <li><a href="blog-full-width-left-sidebar.html">full width left sidebar</a></li>
                                            <li><a href="blog-full-width-right-sidebar.html">full width right sidebar</a></li>
                                            <li><a href="blog-full-width-nosidebar.html">full width no sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog List view</a>
                                        <ul>
                                            <li><a href="blog-list-leftsidebar.html">Left sidebar</a></li>
                                            <li><a href="blog-list-rightsidebar.html">Right sidebar</a></li>
                                            <li><a href="blog-list-nosidebar.html">No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog List Creative</a>
                                        <ul>
                                            <li><a href="blog-creative-left-sidebar.html">left sidebar</a>
                                            </li>
                                            <li><a href="blog-creative-right-sidebar.html">right sidebar</a>
                                            </li>
                                            <li><a href="blog-creative-no-sidebar.html">No sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog mix layout</a>
                                        <ul>
                                            <li><a href="blog-list-mix-left-sidebar.html">List mix with Left sidebar</a></li>
                                            <li><a href="blog-list-mix-right-sidebar.html">List mix with right sidebar</a></li>
                                            <li><a href="blog-list-mix-no-sidebar.html">List mix with no sidebar</a></li>
                                            <li><a href="blog-list-full-width-no-sidebar.html">List full width no sidebar</a></li>
                                            <li><a href="blog-grid-mix-with-right-sidebar.html">grid mix with right sidebar</a></li>
                                            <li><a href="blog-list-post-full-width-no-sidebar.html">grid mix with no sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog details</a>
                                        <ul>
                                            <li><a href="blog-detail-left-sidebar.html">Left sidebar</a></li>
                                            <li><a href="blog-detail.html">Right sidebar</a></li>
                                            <li><a href="blog-detail-no-sidebar.html">No sidebar</a></li>
                                            <li><a href="blog-detail-gallery.html">gallery layout</a></li>
                                            <li><a href="blog-detail-video.html">Video layout</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">blog masonry</a>
                                        <ul>
                                            <li><a href="blog-masonry-left-side.html">2 columns</a></li>
                                            <li><a href="blog-masonry-full-3-col.html">3 columns</a></li>
                                            <li><a href="blog-masonry-full-4-col.html">4 columns</a></li>
                                            <li><a href="blog-masonry-left-side.html">left columns</a></li>
                                            <li><a href="blog-masonry-right-side.html">right sidebar</a></li>
                                            <li><a href="blog-masonry-no-side.html"> no sidebar</a></li>
                                            <li><a href="blog-list-full-width-no-sidebar.html">Grid list mix</a></li>
                                            <li><a href="blog-list-mix-no-sidebar.html">Grid list creative mix</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown" href="#">pages</a>
                                <ul>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="faq.html">faqs</a></li>
                                    <li><a href="collection.html">collection</a></li>
                                    <li><a href="typography.html">typography</a></li>
                                    <li><a href="maintenance.html">Maintenance</a></li>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li class="sub-menu"><a href="#">team</a>
                                        <ul>
                                            <li><a class="sub-menu-title" href="team.html">team</a></li>
                                            <li><a href="team-grid.html">team grid</a></li>
                                            <li><a href="team-list.html">team list</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-menu"><a class="sub-menu-title" href="#">coming soon</a>
                                        <ul>
                                            <li><a href="coming-soon.html">coming soon 1</a></li>
                                            <li><a href="coming-soon2.html">coming soon 2</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="mega-menu"><a class="dropdown" href="#">elements</a>
                                <div class="mega-menu-container resize">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="menu-container">
                                                    <ul class="menu-icon">
                                                        <li><a href="alert.html"><i class="icon-alert"></i>alerts</a></li>
                                                        <li><a href="accordion.html"><i class="icon-layout-accordion-merged"></i>accordion</a></li>
                                                        <li><a href="boxshadow.html"><i class="icon-layers"></i>box shadow</a></li>
                                                        <li><a href="button.html"><i class="icon-write"></i>buttons</a></li>
                                                        <li><a href="contact.html"><i class="icon-map-alt"></i>contact</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="menu-container">
                                                    <ul class="menu-icon">
                                                        <li><a href="event-schedule.html"><i class="icon-list"></i>event-schedule</a></li>
                                                        <li><a href="gallery.html"><i class="icon-gallery"></i>gallery</a></li>
                                                        <li><a href="pricing.html"><i class="icon-money"></i>pricing</a></li>
                                                        <li><a href="counter.html"><i class="icon-time"></i>counter</a></li>
                                                        <li><a href="countdown.html"><i class="icon-alarm-clock"></i>countdown</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="menu-container">
                                                    <ul class="menu-icon">
                                                        <li><a href="progress.html"><i class="icon-bar-chart"></i>progress bar</a></li>
                                                        <li><a href="testimonial.html"><i class="icon-thought"></i>testimonial</a></li>
                                                        <li><a href="video.html"><i class="icon-video-camera"></i>video</a></li>
                                                        <li><a href="services.html"><i class="icon-headphone"></i>service</a></li>
                                                        <li><a href="subscribe.html"><i class="icon-share-alt"></i>subscribe</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-menu"><a class="dropdown" href="#">portfolio</a>
                                <div class="mega-menu-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">portfolio</a>
                                                    <ul>
                                                        <li><a href="portfolio-basic-2-col.html">2 column </a></li>
                                                        <li><a href="portfolio-basic-3-col.html">3 column </a></li>
                                                        <li><a href="portfolio-basic-4-col.html">4 column </a></li>
                                                        <li><a href="portfolio-title-3-col.html">3 column with title</a></li>
                                                        <li><a href="portfolio-title-4-col.html">4 column with title</a></li>
                                                        <li><a href="portfolio-parallex.html">With parallex effect</a></li>
                                                        <li><a href="portfolio-centered-slides.html">centered slides</a></li>
                                                        <li><a href="portfolio-full-screen-vertical.html">vertical slider with portfolio</a></li>
                                                        <li><a href="portfolio-multiple-carousel.html">4 slide with center slider</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">portfolio details</a>
                                                    <ul>
                                                        <li><a href="portfolio-detail4.html">Container layout</a>
                                                        </li>
                                                        <li><a href="portfolio-detail3.html">Full width</a>
                                                        </li>
                                                        <li><a href="portfolio-detail2.html">With Big breadcrumb</a>
                                                        </li>
                                                        <li><a href="portfolio-detail.html">Details with slider</a></li>
                                                        <li><a href="portfolio-detail6.html">Video Portfolio</a>
                                                        </li>
                                                        <li><a href="portfolio-detail5.html">Two images layout</a>
                                                        </li>
                                                        <li><a href="portfolio-detail7.html">left side images</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">Trending Layouts</a>
                                                    <ul>
                                                        <li><a href="portfolio-creative-1.html">Trending Layout 1</a>
                                                        </li>
                                                        <li><a href="portfolio-creative-2.html">Trending Layout 2</a>
                                                        </li>
                                                        <li><a href="portfolio-creative-3.html">Trending Layout 3</a>
                                                        </li>
                                                        <li><a href="portfolio-creative-4.html">Trending Layout 4</a>
                                                        </li>
                                                        <li><a href="portfolio-modern-4-col.html">Trending Layout 5</a>
                                                        </li>
                                                        <li><a href="portfolio-modern-3-col.html">Trending Layout 6</a>
                                                        </li>
                                                        <li><a href="portfolio-modern-2-col.html">Trending Layout 7</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">Masonry Style</a>
                                                    <ul>
                                                        <li><a href="portfolio-2-col.html">2 Column</a></li>
                                                        <li><a href="portfolio-3-col.html">3 Column</a></li>
                                                        <li><a href="portfolio-4-col.html">4 Column</a></li>
                                                        <li><a href="portfolio1.html">Creative Layout 1</a></li>
                                                        <li><a href="portfolio2.html">Creative layout 2</a></li>
                                                        <li><a href="portfolio3.html">Creative Layout 3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-menu"><a class="dropdown" href="#">shop</a>
                                <div class="mega-menu-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">shop categories</a>
                                                    <ul>
                                                        <li><a href="category-page-leftsidebar(4-grid).html">left sidebar</a></li>
                                                        <li><a href="category-page-leftsidebar(2-grid).html">two grid</a></li>
                                                        <li><a href="category-page-leftsidebar(3-grid).html">three grid</a></li>
                                                        <li><a href="category-page-leftsidebar(6-grid).html">six grid</a></li>
                                                        <li><a href="category-page-rightsidebar(4-grid).html">right sidebar <i class="fa fa-magic color-animated"></i></a></li>
                                                        <li><a href="category-page-rightsidebar(2-grid).html">right 2 grid</a></li>
                                                        <li><a href="category-page-rightsidebar(3-grid).html">right 3 grid</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col menu-container">
                                                <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">shop categories</a>
                                                <ul>
                                                    <li><a href="category-page-rightsidebar(6-grid).html">right 6 grid</a></li>
                                                    <li><a href="category-page-nosidebar(4-grid).html">no sidebar</a>
                                                    </li>
                                                    <li><a href="category-page-nosidebar(2-grid).html">no sidebar 2 grid</a></li>
                                                    <li><a href="category-page-nosidebar(3-grid).html">no sidebar 3 grid</a></li>
                                                    <li><a href="category-page-nosidebar(6-grid).html">no sidebar 6 grid</a></li>
                                                    <li><a href="category-page(metro).html">category metro</a></li>
                                                </ul>
                                            </div>
                                            <div class="col menu-container">
                                                <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">product pages</a>
                                                <ul>
                                                    <li><a href="product-page(no-sidebar).html">no sidebar</a></li>
                                                    <li><a href="product-page(left-sidebar).html">left sidebar</a></li>
                                                    <li><a href="product-page(right-sidebar).html">right sidebar</a>
                                                    </li>
                                                    <li><a href="product-page(3-column).html">3 grid<i class="fa fa-thumbs-o-up color-animated"></i></a></li>
                                                    <li><a href="product-page(3-col-left).html">3 grid-left </a></li>
                                                    <li><a href="product-page(3-col-right).html">3 grid-right</a></li>
                                                </ul>
                                            </div>
                                            <div class="col menu-container">
                                                <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">product pages</a>
                                                <ul>
                                                    <li><a href="product-page(accordian).html">accordian</a></li>
                                                    <li><a href="product-page(bundle).html">bundle<i class="fa fa-chain-broken color-animated"></i></a></li>
                                                    <li><a href="product-page(image-swatch).html">image swatch</a></li>
                                                    <li><a href="product-page(image-outside).html">image outside</a>
                                                    </li>
                                                    <li><a href="product-page(sticky).html">image sticky</a></li>
                                                </ul>
                                            </div>
                                            <div class="col ">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">shop pages</a>
                                                    <ul>
                                                        <li><a href="cart.html">cart <i class="fa fa-cart-plus color-animated"></i></a></li>
                                                        <li><a href="checkout.html">checkout</a></li>
                                                        <li><a href="compare.html">compare</a></li>
                                                        <li><a href="compare-2.html">compare 2</a></li>
                                                        <li><a href="signup.html">sign up</a></li>
                                                        <li><a href="login.html">login</a></li>
                                                        <li><a href="wishlist.html">wishlist</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="mega-menu"><a class="dropdown" href="#">features</a>
                                <div class="mega-menu-container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">header options</a>
                                                    <ul>
                                                        <li><a href="header-light.html">light header</a></li>
                                                        <li><a href="header-dark.html">dark header</a></li>
                                                        <li><a href="header-transparent.html">Glass header</a></li>
                                                        <li><a href="header-center-logo.html">Logo Center</a></li>
                                                        <li><a href="header-right-navigation.html">header right navigation</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">breadcrumb option</a>
                                                    <ul>
                                                        <li><a href="breadcrumb.html">Classic Types</a></li>
                                                        <li><a href="breadcrumb-left.html">breadcrumb left</a></li>
                                                        <li><a href="breadcrumb-right.html">breadcrumb right</a></li>
                                                        <li><a href="breadcrumb-center.html">breadcrumb center</a></li>
                                                        <li><a href="breadcrumb-dark.html">breadcrumb dark</a></li>
                                                        <li><a href="breadcrumb-parallex-background.html">parallex background</a></li>
                                                        <li><a href="breadcrumb-background.html">with background</a></li>
                                                        <li><a href="breadcrumb-gallery-background.html">gallery background</a></li>
                                                        <li><a href="breadcrumb-video-background.html">video background</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">footer options</a>
                                                    <ul>
                                                        <li><a href="footer-default.html">footer default</a></li>
                                                        <li><a href="footer3-light.html">footer light</a></li>
                                                        <li><a href="footer3-dark.html">footer dark</a></li>
                                                        <li><a href="footer1-light.html">footer dark light</a></li>
                                                        <li><a href="footer1-dark.html">footer dark gradient </a></li>
                                                        <li><a href="footer2-light.html">footer creative</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="menu-container">
                                                    <a class="menu-head" data-target=".demo2" data-toggle="collapse" href="#">gallery types</a>
                                                    <ul>
                                                        <li><a href="zoom-gallery.html">zoom gallery</a></li>
                                                        <li><a href="popup-with-form.html">form in popup</a></li>
                                                        <li><a href="popup-with-modal.html">modal in popup</a></li>
                                                        <li><a href="popup-with-youtube.html">youtube in popup</a></li>
                                                        <li><a href="popup-with-googlemap.html">Map in popup</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header> -->